<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Professional tools for the modern electronics workbench.</h2>
                <hr class="light">
                <p class="text-faded">Your tools should work as smart and as hard as you do.  Western Computational writes advanced software that lets you work smarter, collect better measurements, and do more with your data.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
